<p id="notice"><%= notice %></p>

<h1>Lanes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lanes.each do |lane| %>
      <tr>
        <td><%= lane.title %></td>
        <td><%= lane.description %></td>
        <td><%= link_to 'Show', [lane.race, lane] %></td>
        <td><%#= link_to 'Edit', edit_race_lane_path(lane.race) %></td>
        <td><%= link_to 'Destroy', [lane.race, lane], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lane', new_race_lane_path %>
