<% basis = history.basis %>

<% if history.basis.lane %>
  <div class="row pm-transaction-list-item">
    <div class="col-xs-7 h4">
      <span class="text-danger text-uppercase">
        <%= "#{history.basis.kind}(#{lot_with_format history.basis.lot})" %>
      </span>
      <br><span class="text-muted small">
        <%= localtime(history.basis.updated_at) %>
      </span>
    </div>

    <div class="col-xs-5 text-right h4">
      <span class="text-danger">
        <%= volume_with_format -1 * basis.volume %>
      </span>
      <br><span class="small text-muted">
        <%= volume_with_format history.balance %>
      </span>
    </div>

    <div class="col-xs-12">
      <hr style="margin-top:5px;margin-bottom:5px;">
      <h4 class="h5">
        <%= link_to race_path(history.basis.race) do %>
          <%= history.basis.race.title %>
          <br>
          <small><%= "> #{history.basis.lane.title}" %></small>
        <% end %>
      </h4>
    </div>
  </div>
<% end %>
