<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :transaction_source %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :transaction_destination %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :transaction_value %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :transaction_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
